@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary: #8a817c;
  --secondary: #bcb8b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: var(--secondary);
  color: #4a413d;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  background: var(--primary);
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 0 10px var(--primary), 0 3px 20px var(--primary);
  border-bottom: 2px solid #645954ac;
}

h1 {
  color: #d4d4d4;
  font-weight: 300;
  letter-spacing: 18px;
}

h1 span {
  color: #4e3a2d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.date {
  letter-spacing: 10px;
  color: #3e2f28;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.time {
  color: #938883;
  display: flex;
  flex-direction: row;
  font-size: 100px;
  letter-spacing: 30px;
  padding-left: 40px;
}

.buttons button {
  margin: 50px 10px;
  padding: 10px 30px;
  padding-right: 21px;
  font-size: 30px;

  background-image: linear-gradient(#f4f3ee, #b9b9b9);
  box-shadow: 0 4px 0 4px var(--primary);
  border: none;
  border-radius: 100px;
  color: #4a413d;
  font-weight: 300;
  font-family: 'Roboto';
  letter-spacing: 10px;

  transition: all 0.2s;
}

.buttons button:hover {
  cursor: pointer;
}

.buttons button:active {
  /* background: #aaafb8; */
  transform: translateY(4px);
  box-shadow: 0 1px 0 4px var(--primary), 0 0 4px var(--primary) inset;
}

.laps {
  background: var(--primary);
  box-shadow: 0 0px 6px 3px var(--primary), 0 10px 30px var(--primary);
  border: 1px #b5b5b5 solid;
  border-radius: 10px;
  width: 763px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  padding: 20px;

  font-size: 30px;
  letter-spacing: 18px;
  color: #eee;

  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  opacity: 0;
  transition: all 0.6s;
}

.lap {
  border-top: 1px #bcb8b163 solid;
  padding-top: 15px;
}

.lap:first-of-type {
  border-top: none;
}

.lap:last-of-type {
  margin-bottom: 12px;
}

.icon {
  position: relative;
  top: 4.5px;
}

.lap-time {
  font-size: 40px;
  letter-spacing: 30px;
  color: #59514e;
  opacity: 0;
  transition: all 0.6s;
}

.lap-time-text {
  font-size: 13px;
  color: #3e2f28;
  font-weight: 300;
}

#curLapTime {
  font-size: 20px;
  text-align: center;
  /* margin-left: 52px; */
  letter-spacing: 10px;
  color: #d3d3d3;
}
